$color-primary: #98012e;
$color-primary-dark: darken($color-primary, 5%);
$color-action: #06b226;
$color-action-dark: darken($color-action, 5%);
$white: #fff;
$black: #000;
$grey-light: #f9f9f9;
$grey: #888;
$grey-dark: #333;
$text-color: $grey;
$body-bg: #fff;
$color-1: #f3f3f3;
$color-2: #222;
$color-3: #424242;
$color-4: #f6f1ec;
