$font-family-base: Arial, Helvetica, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$line-height-headings: 1.1;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
