@for $i from 1 through 6 {
  %h#{$i} {
    @extend %h#{$i};
    font-family: 'Roboto Slab', serif;
    margin-bottom: .5em;
  }
}

%h1 {
  font-weight: 700;
  font-size: 2.25em;
}

%h2 {
  font-weight: 300;
  font-size: 1.5rem;
}

%h3 {
  font-weight: 700;
}

%h4 {
  font-size: 1.125rem;
  font-weight: 400;
}

%lead {
  font-weight: 700;
}
