@mixin sticky-footer {
	body {
		display: flex;
	}
	.main {
		flex: 1 1 auto;
	}
}

%row {
	display: flex;
	grid-column-gap: $gutter;
	@supports (display: grid) {
		display: grid;
	}
	margin: 0 ceil(($gutter / -2));
}

@mixin grid-equal-columns($columns) {
	$string: "";
  @for $i from 1 through $columns {
  	$string: $string + "1fr ";
  }
	grid-template-columns: unquote($string);
	> * {
		flex: 0 0 (100% / $columns);
	}
}

%col {
  padding-left:  ceil(($gutter / 2));
  padding-right: floor(($gutter / 2));
}


@mixin col($sm: null, $md: null, $lg: null, $xlg: null) {
	@extend %col;
	@if $sm {
		@include breakpoint(sm) {
			width: percentage($sm / 12);
		}
	}
	@if $md {
		@include breakpoint(md) {
			width: percentage($md / 12);
		}
	}
	@if $lg {
		@include breakpoint(lg) {
			width: percentage($lg / 12);
		}
	}
	@if $xlg {
		@include breakpoint(xlg) {
			width: percentage($xlg / 12);
		}
	}
}
