@mixin breakpoint($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
}

%center {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left:  $gutter / 2;
	padding-right: $gutter / 2;
	@include breakpoint(m) {
		padding-left:  $gutter;
		padding-right: $gutter;
	}
}

@mixin center($width: l) {
  $value: map-get($centers, $width);
	max-width: $value;
	@extend %center;
}